p{
    color:#1877f2;
    font-size:50px;
  }
  button{
    color:white;
    background-color:#1877f2;
    width:200px;
    height:25px;
  }
  
  .s{
    color:#1877f2;
  }
  .d button{
    color:white;
    background-color:#009900;
   
  }